body{
	background-color:rgb(235,235,225);
}

#mainbody{
	position:absolute;
	width:1000px;
	height:1500px;
	left:50%;
	margin-left:-500px;
	padding-left:0px;
}

#navigationBar{
	position:absolute;
	background-color:rgb(255,0,0);
	border: solid rgb(150,150,150) 1px;
	top:0px;
	height:120px;
	width:1000px;
	
}

#mainPage{
	position:absolute;
	background-color:rgb(255,255,255);
	border: solid rgb(200,200,200) 1px;
	top:125px;
	height:1200px;
	width:1000px;
    display:none;	
}

#homePage{
	position:absolute;
	background-color:rgb(255,255,255);
	border: solid rgb(200,200,200) 1px;
	top:125px;
	height:1200px;
	width:1000px;	
}

#searchResultPage{
	position:absolute;
	background-color:rgb(255,255,255);
	border: solid rgb(200,200,200) 1px;
	top:125px;
	height:1200px;
	width:1000px;
	display:none;
}

#itineraryPage{
	position:absolute;
	background-color:rgb(250,100,100);
	top:140px;
	height:1200px;
	width:1000px;
	display:none;
	z-index:2;
}


#selectIti{
	position:absolute;
	background-color:rgb(200,0,0);
	color:rgb(255,255,255);
	border-radius:5px;
	font-size:15px;
	height:25px;
	right:20px;
	bottom:0px;
	cursor:pointer;
	border: solid rgb(0,0,0) 1px;
	width:100px;
	
	
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
}

#selectIti:hover{
background-color:rgb(75,0,0);
}

#infoWindow{
position:absolute;
background-color:rgb(200,200,200);
height:300px;
width:400;
top:10px;
left:10px;
border: solid rgb(0,0,0) 1px;
}

#photoWindow{
position:absolute;
background-color:rgb(200,200,200);
height:300px;
width:570px;
right:10px;
top:10px;
border: solid rgb(0,0,0) 1px;
}

#reviewWindow{
position:absolute;
background-color:rgb(200,200,200);
height:770px;
width:600px;
left:10px;
bottom:10px;
border: solid rgb(0,0,0) 1px;
}

#timeWindow{
position:absolute;
background-color:rgb(200,200,200);
height:770px;
width:370px;
right:10px;
bottom:10px;
border: solid rgb(0,0,0) 1px;
}

#addItiButton{
color:rgb(255,255,255);
position:absolute;
background-color:rgb(255,0,0);
height:50px;
width:400px;
left:50px;
top:340px;
border-radius:10px;
cursor:pointer;
border: solid rgb(0,0,0) 2px;
text-align: center;
vertical-align: middle;
line-height: 10px;


}

#addItiButton:hover{
	background-color:rgb(75,0,0);

}

.mainPopUp{
	position:absolute;
	background-color:rgb(255,0,0);
	width:400px;
	height:300px;
	left:50%;
	top:20%;
	margin-left:-200px;
	z-index:2;
	border-radius:30px;
	border: solid rgb(0,0,0) 5px;
	
	font-size:30px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	
	color:rgb(255,255,255);
	
	display:none;
}

.confirmButton{
	position:absolute;
	background-color:rgb(200,0,0);
	width:100px;
	height:40px;
	right:20px;
	bottom:10px;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
	
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor:pointer;
}

.confirmButton:hover{
background-color:rgb(75,0,0);
}

.cancelButton{
	position:absolute;
	background-color:rgb(200,0,0);
	width:100px;
	height:40px;
	left:20px;
	bottom:10px;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
	
	font-size:20px;
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor:pointer;
}
.cancelButton:hover{
background-color:rgb(75,0,0);
}

#searchBar{
	position:absolute;
	height:50px;
	width:800px;
	left:200px;
	bottom:40px;
}

#search{
	margin-left:10px;
	margin-top:10px;
	background-color:rgb(200,0,0);
	border: solid rgb(0,0,0) 1px;
	border-radius:4px;
	height:22px;
	width:30px;
	cursor:pointer;
}
#search img{
	height:14px;
	width:20px;
}

#search:hover{
	background-color:rgb(75,0,0);
}

#itineraryWindow{
	position:absolute;
	width:300px;
	height:1200px;
	right:0px;
	top:0px;
	z-index:3;
	display:none;
}

#createItiWindow{
	position:absolute;
	background-color:rgb(255,0,0);
	width:400px;
	height:300px;
	right:0px;
	top:0px;
	z-index:10;
	display:none;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
	
	color:rgb(255,255,255);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.itineraryItem{
	position:absolute;
	background-color:rgb(255,255,255);
	width:300px;
	height:1000px;
	right:0px;
	top:50px;
	z-index:4;
	display:none;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
}
.itiName{
	position:absolute;
	background-color:rgb(255,0,0);
	width:100px;
	height:50px;
	left:0px;
	top:-50px;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
	
	color:rgb(255,255,255);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.itiIcons{
	position:absolute;
	background-color:rgb(255,0,0);
	width:300px;
	height:100px;
	right:0px;
	top:0px;
	
	color:rgb(255,255,255);
	font-family:"Times New Roman";
}

.itiItems{
	position:absolute;
	width:300px;
	height:auto;
	right:0px;
	top:110px;
	border-top: solid rgb(0,0,0) 2px;
}

.plusButton{
	position:absolute;
	background-color:rgb(255,255,255);
	width:20px;
	height:20px;
	right:10px;
	top:10px;
	border: solid rgb(0,0,0) 2px;
	border-radius:20px;
	cursor:pointer;
}

.filterIcon{
	position:absolute;
	background-color:rgb(255,255,255);
	width:30px;
	height:30px;
	top:60px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
	color:rgb(0,0,0);
}

#filRes{
	left:10px;
}

#filAct{
	left:45px;
}
#filMem{
	left:80px;
}
#filExtra{
	left:115px;
}

.searchItem{
	position:relative;
	background-color:rgb(255,255,255);
	width:400px;
	height:150px;
	top:200px;
	left:20px;
	border-top: solid rgb(180,150,0) 2px;
	cursor:pointer;
	
}

#mapField{
	position:absolute;
	background-color:rgb(200,200,200);
	width:400px;
	height:600px;
	top:20px;
	right:20px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
}

.eventItem{
	position:absolute;
	background-color:rgb(200,200,200);
	width:290px;
	height:100px;
	top:0px;
	border: solid rgb(0,0,0) 2px;
    display:none;
	font-size:30px;
}

.linkGroup{
	position:absolute;
	background-color:rgb(200,0,0);
	width:80px;
	height:30px;
	right:10px;
	bottom:10px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
	
	color:rgb(255,255,255);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.linkGroup:hover{
	background-color:rgb(75,0,0);
	
}

.viewDetail{
	position:absolute;
	background-color:rgb(200,0,0);
	width:80px;
	height:30px;
	left:10px;
	bottom:10px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
	
	color:rgb(255,255,255);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.viewDetail:hover{
	background-color:rgb(75,0,0);
}
	
#profilePic{
	position:absolute;
	background-color:rgb(255,255,255);
	height:70px;
	width:100px;
	right:20px;
	top:10px;
	border: solid rgb(0,0,0) 2px;
	cursor:pointer;
}

#linkGroupWindow{
	position:absolute;
	background-color:rgb(255,0,0);
	width:400px;
	height:300px;
	right:0px;
	bottom:0px;
	z-index:10;
	display:none;
	border-radius:10px;
	border: solid rgb(0,0,0) 2px;
	
	font-size:20px;
	color:rgb(255,255,255);
	font-family:"Times New Roman";
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	
	
}

#memberPage{
	position:absolute;
	background-color:rgb(255,255,255);
	border: solid rgb(200,200,200) 1px;
	top:125px;
	height:1200px;
	width:1000px;
    display:none;	
}

#yelpLogo{
	position:absolute;
	top:10px;
	height:80px;
	width:160px;	
	
}